[Unit]
Description=Service rotating siriusec certificates
ConditionPathExists=/etc/siriusec.d/use-letsencrypt

[Service]
Type=oneshot
ExecStartPre=/usr/local/bin/siriusec-lock
ExecStart=/usr/local/bin/siriusec-renew-cert