[Unit]
Description=Service checking if siriusec cert has been updated
ConditionPathExists=/etc/siriusec.d/use-letsencrypt

[Service]
Type=oneshot
User=root
Group=adm
ExecStart=/usr/local/bin/siriusec-check-cert