## Hosts with openssh suffix are OpenSSH nodes listening on port 22 as usual
Host *.openssh.siriusec
    ProxyCommand ssh -o "ForwardAgent yes" -p 3023 proxy.luna.siriusec -s proxy:%h:22

# Hosts without openssh suffix are Siriusec nodes listening on port 3022
Host *.siriusec !proxy.luna.siriusec
    ProxyCommand ssh -o "ForwardAgent yes" -p 3023 proxy.luna.siriusec -s proxy:%h:3022
